<section class="hero">
    <div class="container hero-container">
        <div class="started">
            <h1>The Safer, the Better</h1>
            <div class="get-started-btn">
                {{#if user}}
                    <a href="/links">Get Started</a>                    
                {{else}}
                    <a href="/auth">Get Started</a>
                {{/if}}
            </div>
        </div>
    </div>
</section>