{{#if success}}
    <div class="container alert-container">
            <div class="alert success">
                <p>{{success}}</p>
                <div class="close"><i class="fas fa-times"></i></div>
            </div>
        </div>
    </div>
{{/if}}

{{#if message}}
    <div class="container alert-container">
            <div class="alert message">
                <p>{{message}}</p>
                <div class="close"><i class="fas fa-times"></i></div>
            </div>
        </div>
    </div>
{{/if}}