<div class="bar">
    <div class="container">
        {{#if user}}
            <div class="nav-container">
                <nav class="nav">
                    <a href="/links/add">Add a link</a>
                    <a href="/"><h1>SICHER</h1></a>
                    <a href="/links">My Links</a>
                </nav>
                <div class="logout-container">
                    <a href="/logout">Log Out <i class="fas fa-sign-out-alt"></i></a>            
                </div>
            </div>
        {{else}}
            <div class="nav-container">
                <nav class="nav">
                    <a href="/auth">Login <i class="fas fa-sign-in-alt"></i></a>
                    <a href="/"><h1>SICHER</h1></a>
                    <a href="/auth">Sign Up</a>
                </nav>
            </div>
        {{/if}}
    </div>
</div>