<div class="container form">
    <div class="form-container">
        <form action="/links/add" method="POST">
            <h3 class="link-heading">Link</h3>
            <div class="field"> 
                <input type="text" name="title" id="title" placeholder="Link Title">
            </div>
            <div class="field">
                <label for="url">URL</label>
                <input type="Url" id="url" name="url" placeholder="Link URL">
            </div>
            <div class="field">
                <label for="description">Description</label>
                <textarea name="description" id="description" placeholder="Link description"></textarea>
            </div>
            <div class="btn-container">
                <button class="btn btn-success">Save</button>
            </div>
        </form>
    </div>
</div>